*.o
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
.deps
src/Makefile
src/Makefile.in
depcomp
install-sh
missing
multi-monitor.desktop
src/multi-monitor
stamp-h1
